<section class="textAlign--right">
  <h1 class="subhead opacity--5">
    <i class="icon icon--wind"></i>
    {{ weather.current_weather.wind.speed }}
    <i class="icon icon--sunset"></i>
    <span ng-if="!weather.current_weather.sunrise">
      {{ weather.current_weather.sunset }}
    </span>
    <span ng-if="!weather.current_weather.sunset">
      {{ weather.current_weather.sunrise }}
    </span>
  </h1>
  <h2 class="display--3">
    <i class="icon icon--small icon--{{ weather.current_weather.icon }}"></i>
     {{ weather.current_weather.main.temp | temperature }}<i class="icon icon--celcius"></i>
  </h2>

  <section>
    <span class="subheader opacity--5">
      Weersverwachting
    </span>
    <ul>
      <li ng-repeat="forecast in weather.weather_forecast.list | limitTo: 5" class="opacity--{{9 - $index * 2 }} textAlign--left g-row12">
        <strong class="g-col3--xs">
          {{ forecast.day }}
        </strong>
        <span class="g-col3--xs">
          <i class="icon icon--{{forecast.icon}}"></i>
        </span>
        <span class="g-col3--xs">
          {{ forecast.temp.max | temperature }}
        </span>
        <span class="g-col3--xs textAlign--right">
          {{ forecast.temp.min | temperature }}
        </span>
      </li>
    </ul>
  </section>
</section>
