<section>
  <section ng-repeat="list in trello.lists">
    <span class="subheader opacity--5">
      {{ list.name }}
    </span>
    <ul>
      <li ng-if="list.cards.length <=0" class="opacity--5">
        <em>
          No items in this list
        </em>
      </li>
      <li ng-repeat="item in list.cards | orderBy: 'due'" class="g-row12">
        <span class="g-col7--xs">
          {{ item.name }}
        </span>
        <span class="textAlign--right g-col5--xs" ng-if="item.badges.due">
          {{ item.due | fromNow }}
        </span>
      </li>
    </ul>
  </section>
</section>
