.subheader {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  margin: 0;
  position: relative;
  padding: 16px 0 8px 0;
  border-bottom: 1px solid white;
  margin: 0 0 16px 0;
  text-transform: uppercase;
}
